.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header h2 {
  font-size: 18px;
  font-weight: 700;
  padding-right: 20px;
}

.sectionTitle {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 40px;
}

.brandKitName {
  width: 250px;
}

.hr {
  border: none;
  background-color: var(--grey-color);
  height: 1px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

p {
  white-space: nowrap;
  margin-right: 15px;
}

@media (max-width: 600px) {}