.select {
  font-weight: 600;
  padding: 8px 12px;
  width: 200px;
  border: 1px solid var(--grey-color);
  border-radius: 7px;
}

.select:focus {
  outline: none;
}

.select option {
  font-weight: normal;
}