.container {
  display: flex;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

.menuItem {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-left: 2px solid var(--grey-color);
}

.menuItem:hover {}

.activeItem {
  border-left: 2px solid var(--primary-color);
}

.menuContent {
  width: 100%;
  padding: 20px;
}