input {
  box-sizing: border-box;
  letter-spacing: 1px;

  border: 1px solid var(--grey-color);
  border-radius: 8px;
  padding: 7px 14px;
  transition: 0.4s;

  outline: none;
}

input:focus {
  border: 1px solid var(--primary-color);
}